#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navigate{
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.2s linear;
}
.navigate:hover{
  color: rgb(107, 98, 98);
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)) , url(./assets/edit-bg.png);  
}

label{
  display: flex !important;
}

.form-control{
  background-color: transparent !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  border: 1px solid #dee2e6 !important;
  outline: none !important;
}
.form-control:focus{
  box-shadow: 0px 0px 5px 2px white !important;
}
.form-control::placeholder{
  color: white !important;
}

.btn{
  background-color: transparent !important;
  color : white !important;
  border-color: #dee2e6 !important;
}
.btn:focus{
  box-shadow: 0px 0px 5px 2px white !important;
}

table,tr,th,td{
  background-color: transparent !important;
  border: 1px solid #dee2e6 !important;
  padding: 15px !important;
}